{% extends "hr_layout.html" %}

{% block messaging %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
 
{% block hr_content %}
	<div id="example">
            <div class="demo-section k-content">           
		<div class="center">
		
		<p>
		<div class="box"> Step 1: Personal Details
		</div>
                <form id="emp_personal_Form" action="{% url "employee_create_process" %}" method="post" >
			{% csrf_token %}
			<div class="formmain">
			<div class="left">
				<ul id="fieldlist">
					<li>
						<label for="id_firstName">First Name:</label>
						<input type="text" class="k-textbox" name="firstName" id="id_firstName" />
					</li> 
					<li>
						<label for="id_middleName">Middle Name:</label>
						<input type="text" class="k-textbox" name="middleName" id="id_middleName" />
					</li>
					<li>
						<label for="id_lastName">Last Name:</label>
						<input type="text" class="k-textbox" name="lastName" id="id_lastName" />
					</li>
                        		<li>
       		                     		<label for="id_birthDate">Date of Birth:</label>
                	            		<input type="text" id="id_birthDate" name="birthDate"  />
                        		</li>
					<li>
						<label for="id_birthPlace">Place of Birth:</label>
						<input type="text" class="k-textbox" name="birthPlace" id="id_birthPlace" />
					</li>
					<li>
                                                <label for="id_state">State of Birth:</label>
                                                <input name="state" id="stateList" />
                                         </li>
                                         <li>
                                                 <label for="id_country">Country of Birth:</label>
                                                 <input id="countryList" name="country" />
                                         </li>
	
				</ul>
			</div>
			<div class="right">
				<ul id="fieldlist">
					 <li>
                                                <label for="id_gender">Gender:</label>
                                                <input id="genderList" name="gender" />
                                        </li>
					<li>
						<label for="id_religion">Religion:</label>
						<input type="text" class="k-textbox" name="religion" id="id_religion"/>
					</li>
					<li>
						<label for="id_nationality">Nationality:</label>
						<input type="text" class="k-textbox" name="nationality" id="id_nationality"/>
					</li>
					<li>
						<label for="id_maritalStatus">Marital Status:</label>
						<input id="maritalStatusList" name="maritalStatus" />
					</li>
					<li id="id_mDate">
						<label for="id_marraigeDate">Date of Marraige:</label>
						<input type="text" id="id_marraigeDate" name="marraigeDate"  />
						
					</li>
					 <li>
                                                <label for="id_motherTongue">Mother Tongue:</label>
                                                <input id="motherTongue" name="motherTongue" type="text" class="k-textbox"/>
                                        </li>

				</ul>
                        </div>
			
			<br/>
			<button id="back" class="k-primary leftbutton">Back</button>
			<button id="submit" class="k-primary rightbutton">Next</button>
			</div>
                </form>
			</div>
            </div>               


<style>
		.box {
    			border: 2px solid gray;
    			background-color:#333333;
			color:white;
			padding: 2px;
			margin: 2px;
		}

		#header_ {
    			background-color:black;
    			color:white;
    			text-align:center;
    			padding:5px;
		}

		#footer_ {
    			background-color:black;
    			color:white;
    			clear:both;
    			text-align:center;
    			padding:5px; 
		}
		.center {
    			margin: auto;
    			width: 60%;
    			border: 3px solid #d3d3d3;
    			padding: 10px;
				background-color: #fdfdfd;
		}	 
   		.formmain {
			margin: auto;
			width: 100%;
			padding: 2px;
			height: 550px;
		}
		.right {
    			float: right;
    			padding: 10px;
			width: 45%;
		}
		.rightbutton {
                        float: right;
                        padding: 10px;
                        width: 13%;
			margin-right: 172px;
                }
		.leftbutton {
                        float: left;
                        padding: 10px;
                        width: 13%;
                }
		.left {
    			float: left;
    			padding: 10px;
			width: 45%;
		}
		.text {
			float: left;
			width: 80%;
		}
		
		.lineleft {
			float: left;
			width: 50%
			
		}
		.linecenter {
                        float: left;
                        width: 20%

                }
		.lineright {
                        float: right;
                        width: 25%

                }
		.title {
			font-size: 14px;
			font-weight: bold;
			color: #67462e;
			background-color: #fbb24a;
			padding: 6px 30px;
			text-align: center;
			margin: 0;
	        }

                #fieldlist {
                    margin: 0;
                    padding: 0;
                }

                #fieldlist li {
                    list-style: none;
                    padding-bottom: .7em;
                    text-align: left;
                }

                #fieldlist label {
                    display: block;
                    padding-bottom: .3em;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: #444;
                }

                #fieldlist li .k-widget:not(.k-tooltip),
                #fieldlist li .k-textbox {
                    margin: 0 5px 5px 0;
                }

                span.k-widget.k-tooltip-validation {
                    text-align: left;
                    border: 0;
                    padding: 0;
                    margin: 0;
                    background: none;
                    box-shadow: none;
                    color: red;
                }
                
                .k-tooltip-validation .k-warning {
                    display: none;
                }
            </style>
        </div>

{% endblock %}
 
{% block scripts %}
<script type="text/javascript">

	$("#emp_personal_Form").kendoValidator();
	$('#message').delay(5000).fadeOut('slow');

	$(document).ready(function() {  
		
		$("#id_birthDate").kendoDatePicker({
   			 format: "dd/MM/yyyy",
   		         // value:new Date()
		});
		
		$("#id_marraigeDate").kendoDatePicker({
   			 format: "dd/MM/yyyy",
   		         // value:new Date()
		});

		var data = [
					{ text: "Male", value: "male" },
					{ text: "Female", value: "female" },
					{ text: "Other", value: "other" }
                    ];

		// create DropDownList from input HTML element
		$("#genderList").kendoDropDownList({
			dataTextField: "text",
			dataValueField: "value",
			dataSource: data,
			index: 0,
		});
		
		var status_data = [
					{ text: "Married", value: "married" },
					{ text: "Single", value: "single" },
					{ text: "Widower", value: "widower" },
					{ text: "Divorced", value: "divorced" }
                    ];

		// create DropDownList from input HTML element
		$("#maritalStatusList").kendoDropDownList({
			dataTextField: "text",
			dataValueField: "value",
			dataSource: status_data,
			index: 0,
			change : onChange,
		});
		
		$("#stateList").kendoDropDownList({
                dataTextField: "name",
                dataValueField: "id",
                dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: "/helper/state-list",
                                }
                            }
                        },
                
                }); 		

		$("#countryList").kendoDropDownList({
                dataTextField: "name",
                dataValueField: "id",
                dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: "/helper/country-list",
                                }
                            }
                        },
                
                });
	
		function backClick(e) {
		 	window.location="/hr/employee";
		}
		$("#back").kendoButton({
                        click: backClick
                    });
		
		function submitClick(e) {
				window.location="/hr/employee_create_process/";
		}

		$("#submit").kendoButton({
					click: submitClick
			});

		function onChange(){
			var value = $("#maritalStatusList").val();
			

			if (value=="single")

        		{

				$("#id_mDate").attr("style", "display: none;");

        		}

			else

        		{

        			$("#id_mDate").attr("style", "display: TRUE;");

        		};
        		};
	

  });
	

</script>    
{% endblock %}
