{% extends "hr_layout.html" %}
 
{% block messaging %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
 
{% block hr_content %}
<div id="example">
<div><button id="next" class="k-primary rightbutton">Next</button></div>
			<br><br>
            <div class="demo-section k-content">           
		
		<div class="center">
		
		<div class="box"> Employee Family Details:</div>
			</hr>
			</hr>
			<div id='famDetails'>
			</div>
				</div>
	</div>
<style>
.box {
    			border: 2px solid gray;
    			background-color:#333333;
				color:white;
				padding: 2px;
				margin: 2px;
		}

		
		.title {
				font-size: 14px;
				font-weight: bold;
				color: #67462e;
				background-color: #fbb24a;
				padding: 6px 30px;
				text-align: center;
				margin: 0;
	        }
.rightbutton {
                       float: right;
                       padding: 1px;
                       width: 10%;
                       height:30px;
                        margin-right: 5%;
               }
               
            </style>			
{% endblock %}
{% block scripts %}
<script type="text/javascript">
   $(document).ready(function() {
       $('#message').delay(5000).fadeOut('slow');
        $('#famDetails').kendoGrid({
             dataSource:{
               transport:{
                   read:{
                       url:'/hr/emp_family_details_view/',
                       contentType:'application/json;charset=utf-8',
                       type:'GET',
                       dataType:'json'
                   },
               }, 
               pageSize:10
           },
            columns:[
                {field:'dob',title:'Date Of Birth'},
                {field:'firstName',title:'First Name'},
                {field:'middleName',title:'Middle Name'},
                {field:'lastName',title:'Last Name'},
                {field:'relationship',title:'Relationship'},
                {field:'occupation',title:'Occupation'},
                {field:'personal_emailid',title:'Email Id'}
                
            ],
        });
   });
     function nextClick(e) {
                        window.location="/hr/employee_view_details_5/";
                        
                }
        $("#next").kendoButton({
                        click: nextClick
                    });
</script>
{% endblock %}