<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
</head>
<body>
        <div id="company">
		<div id="company_logo">
			<img src="{% static "deltas_logo.png" %}" height=40px  alt="Deltas Pharma Logo"/>
		</div>
        </div>
<style>
	#company_logo {
			padding-top: 0px;
    			padding-bottom: -20px;
    			padding-left: 0px;
   			margin-top: 0px;
			width: 90px;
		}
	
	#company_name {
              	border: 2px ;
        	background-color:#bbbbbb;
                color:white;
		height: 30px;
             }
</style>
</body>
</html>
