<!doctype html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #67462E;
    height:20px;
    font:15px,Arial,Helvetica,Verdana;
    font-weight:bold;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1px 10px;
    text-decoration: none;
    margin-left:30px;
}

li a:hover {
    background-color: #fbb24a;
}
#example1 {
    background-image: url(static/img/DeltasReport_Background.png);
    width: 1230px;   
}

#example2 {
         background-image: url(static/img/title1.png);
         background-repeat: no repeat;
         width: 1230px;
         height:80px;
 }
     
p{
    size: 10px;
    padding-top: 60px;
}
     
img{
    vertical-align: middle;
 }

.btn btn-default{
         background-size: 20px;
     }
</style>
  <link rel="icon" href="static/img/favicon.ico">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/ccp-crystal.css">
  <link rel="stylesheet" href="static/css/owl.carousel.css">
  <link rel="stylesheet" href="static/css/owl.transitions.css">
  
</head>
<body>
  <div class="container">
    <div id="example2">
      <div class="row" >
        <div class="col-md-12">   
            <div class="header">
                     <div class="col-md-2">
                        <img src="static/img/logo.png" alt="" style="margin:40px 0px 0px 35px" >
                     </div>
                     <div class="col-md-8">
                         <p>We Care For <b>Health </b>& We Care For <b>Nature</b></p>
                     </div>
               
                 
<!--               
                <p style="float:right" padding-top:10px> <span class="glyphicon glyphicon-search"></span></p>
		        <p style="float:right"> <span class="glyphicon glyphicon-envelope"></span></p>
		        <p style="float:right"> <span class="glyphicon glyphicon-global"></span></p>
-->
            </div>	        
      </div>
    </div>      
    </div>
    <br/>
    <div id="example1"> 
      <ul>
			 <li><a class="active" href="#home">Home</a></li>
    			 <li><a href="http://128.199.98.77/mktg">Marketing</a></li>
    			 <li><a href="http://128.199.98.77/hr">Human Resource</a></li>
			 <li><a href="#about us">About Us</a></li>
			 <li><a href="#contact">Contact</a></li>
			 <li><a href="http://128.199.98.77/home/login">Login</a></li>
		</ul>
          <div class="row">
           <div class="col-md-12">
              <div class="home-slideshow">
                  <div class="col-md-9"  style="border-right: 4px solid #fbb24a">
                      <div id="home-slideshow" >
                        <div class="slide">
                          <img src="static/img/home_slide_01.png" width="889px" style="center">
                        </div>
                        <div class="slide">
                          <img src="static/img/home_slide_02.png" width="889px" style="center">
                        </div>
                        <div class="slide">
                          <img src="static/img/home_slide_03.png" width="889px"  style="center">
                        </div>
                      </div>
                  <div class="desc"> <b> EVER MAY CONCERN </b> <br/> This is to inform you that the product that the product.</div>    
                 </div>    
                <div class="col-md-3">
                    <img src="static/img/right_top.png" width="220px" > 
                </div>
            </div>
          </div>
     </div>      
          <div class="row">
            <div class="col-md-12">
                <div class="main-menu">
                    <div class="col-md-9"  style="border-right: 4px solid  #fbb24a">
                        <div class="row">
                            <div class="col-md-12">
                                 <img src="static/img/title2.png" style="width:885px">
                                
                                <div class="col-md-3" style="border-right: 4px solid #fbb24a">  
                                    <a href="http://128.199.98.77/home/login"><img src="static/img/block_01.png" style="width:170px; height:170px;" ></a>
                                    <div class="desc"> <b> LOGIN</b> <br/> You need to Login using your ERP credetials to access any functionality.</div>
                               </div>
                          
                                <div class="col-md-3"  style="border-right: 4px solid #fbb24a">
                                   <a href="http://128.199.98.77/hr/employee" ><img src="static/img/block_02.png" style="width:170px; height:170px;" > </a>
                                    <div class="desc"> <b> EMPLOYEE </b> <br/> Employee List, Add employee.</div>
                                </div>
                                
                                <div class="col-md-3"  style="border-right: 4px solid #fbb24a">
                                    <a href="http://128.199.98.77/mktg/ppp"> <img src="static/img/block_03.png" style="width:170px; height:170px;" > </a>
                                    <div class="desc"> <b> PPP  </b> <br/> List all Product Promotion Program (PPP) forms and add new.</div>
                                </div>
                                
                                <div class="col-md-3" >
                                    <a href="http://128.199.98.77/mktg/pppRecord/"><img src="static/img/block_04.png" style="width:170px; height:170px;" > </a>
                                    <div class="desc"> <b> PPP Record </b> <br/> List of all PPP Records and new records.</div>
                                </div>             
                                    <img src="static/img/title2.png" style="width:885px">
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                              <div class="desc"> <b> EVER MAY CONCERN </b> <br/> This is to inform you that the product that the product.</div>
                                <img src="static/img/title2.png" style="width:230px">
                                <a href="#" class="btn btn-success btn-lg"> UPDATE NEWS </a>
                                <div class="desc"> <b> EVER MAY CONCERN </b> <br/> This is to inform you that the product that the product.</div>
                 </div>   
            </div>
         </div>
    </div>      
</div>
    
  <script src="../../../../plugin/pentaho-cdf/api/resources/js/compressed/lib/modernizr/modernizr-2.8.3.js" charset="utf-8"></script>
  <script src="static/js/jquery-1.9.1.min.js" charset="utf-8"></script>
  <script src="static/js/owl.carousel.min.js" charset="utf-8"></script>
  <script src="static/js/main.js" charset="utf-8"></script>
 
    <script>
    $(document).ready(function() {

      // shuffle the slider 'cards'
      var parent = $("#home-slideshow");
      var divs = parent.children();
      while (divs.length) {
        parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
      }

      $("#home-slideshow").owlCarousel({
        navigation: false,
        slideSpeed: 300,
        paginationSpeed: 200,
        singleItem: true,
        autoPlay: 5000,
        mouseDrag: false,
        transitionStyle: "fade",
        rewindnav: true,
        responsive: true
      });
    });
 
        
  </script>
</body>	
</html>
	

	
