<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Deltas Pharma Home Page</title>           
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
 
</head>
<body>
<p>Deltas Pharma</p>
<p> Change this index.html to the one which Umesh has designed. <p>
Path for this 'index.html' is : 
 /home/deltas/intranet/home

<p>Remember to start virtual environment by 'workon intranet command' before changing the home page.
</p>    
</body>
</html>
